<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> -->
    <meta name="viewport" content="user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>LED编辑系统</title>
    	
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
			
	<!-- 在bootstrap.min.js 之前引入 -->	
	<script type="text/javascript" th:src="@{~/javascript/jquery-3.3.1.min.js}" ></script>	
	<!-- Bootstrap 核心 JavaScript 文件 -->		
	<link th:href="@{~/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<script type="text/javascript" th:src="@{~/bootstrap/bootstrap.min.js}" ></script>				
	<!-- snap.svg 核心 JavaScript 文件 -->		
	<script th:src="@{~/javascript/snap.svg.js}"></script>	
	
	<!-- bootstrap-colorpicker 核心 JavaScript 文件 -->
	<link th:href="@{~/css/bootstrap-colorpicker.min.css}" rel="stylesheet" type="text/css">		
	<script type="text/javascript" th:src="@{~/javascript/bootstrap-colorpicker.min.js}" ></script>	
	<!-- jcanvas 核心 JavaScript 文件 -->	
	<script type="text/javascript" th:src="@{~/javascript/jcanvas.js}" ></script>		
	
	<!-- ion.rangeSlider 核心 JavaScript 文件 -->	
	<link th:href="@{~/ion.rangeSlider/ion.rangeSlider.min.css}" rel="stylesheet" type="text/css">	
	<script type="text/javascript" th:src="@{~/ion.rangeSlider/ion.rangeSlider.min.js}" ></script>			
		
	<!-- jquery-ui 核心 JavaScript 文件 -->	
	<link th:href="@{~/jquery-ui/jquery-ui.min.css}" rel="stylesheet" type="text/css">	
	<script type="text/javascript" th:src="@{~/jquery-ui/jquery-ui.min.js}" ></script>		
	
	<!-- ueditor 核心 JavaScript 文件 -->	
	<link th:href="@{~/ueditor/themes/default/css/ueditor.css}" rel="stylesheet" type="text/css">
    <!-- 配置文件 -->
    <script type="text/javascript" th:src="@{~/ueditor/ueditor.config.js}"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" th:src="@{~/ueditor/ueditor.all.js}"></script>    
    <script type="text/javascript" th:src="@{~/ueditor/lang/zh-cn/zh-cn.js}"></script>
    <script type="text/javascript" th:src="@{~/ueditor/ueditor.parse.js}"></script>
    
    <!-- 自定义 核心 JavaScript 文件 -->	
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/img/ic-16.css}" rel="stylesheet" type="text/css">
	<link th:href="@{~/css/createinfoModel.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{~/javascript/share.js}"></script>	
    <script type="text/javascript" th:src="@{~/javascript/layerlist.js}"></script>	
	<script type="text/javascript" th:src="@{~/javascript/ledSvgEditer.js}"></script>		
	<script type="text/javascript" th:src="@{~/javascript/createinfoModel.js}"></script>
	<script type="text/javascript" th:src="@{~/javascript/DrawItembyCanvas.js}"></script>	
	<link th:href="@{~/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css">
	<script type="text/javascript" th:src="@{~/javascript/bootstrap-datetimepicker.min.js}" ></script>
	<script type="text/javascript" th:src="@{~/javascript/bootstrap-datetimepicker.zh-CN.js}" ></script>	
	
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   	<strong>公司: </strong>鞍山博海泰克电子设备有限公司
                    &nbsp;&nbsp;
                    <strong>电话: </strong>0412-5234000
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END-->
    <!--
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">                             
               <img th:src="@{~/img/logo.png}" />                
            </div>
            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
                                <span class="fa fa-user-circle-o" style="font-size: 25px;"></span>
                            </a>
                            <div class="dropdown-menu dropdown-settings">
                                <div class="media">
                                    <a class="media-left" href="javascript:void(0)">
                                        <img id="testimg" th:src="@{~/img/64-64.jpg}" alt="" class="img-rounded" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading" th:text="${userName}"></h4>
                                        <h5>Developer & Designer</h5>

                                    </div>
                                </div>
                                <hr />
                                <h5><strong>个人简介: </strong></h5>
                                Anim pariatur cliche reprehen derit.
                                <hr />
                                <a href="javascript:void(0)" class="btn btn-info btn-sm">详情</a>&nbsp; <a href="index.html" class="btn btn-danger btn-sm">注销</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse">
                        <ul id="menu-top" class="nav navbar-right">
                            <li id='main'><a href="main">首页</a></li>
                            <li id='advManger'><a class="menu-top-active" href="advManger">广告编辑</a></li>
                            <li id='auditManger'><a href="auditManger">广告审核</a></li>
                            <li id='infoList'><a href="infoList">广告发布</a></li>
                            <li id='groupManger'><a href="groupManger">分组管理</a></li>
                            <li id='userManger'><a href="userManger">用户管理</a></li>
                            <li id='taxiManger'><a href="taxiManger">车辆管理</a></li>
                            <li id='projectManger'><a href="projectManger">项目管理</a></li>
                            <!-- <li><a href="blank.html">关于</a></li> -->                          
                        </ul>
                    </div>                    
                </div>

            </div>
        </div>
    </section>
  
    <!-- MENU SECTION END-->    
    <div class="content-wrapper">    	
        <div class="container">    
        <div class="row">
            <div class="col-md-12">
            	<div class="form-inline page-head-line">
                <h4>广告管理</h4>                
                </div>		   			
            </div>
        </div>
        
        <div class="row">
           <div class="col-md-12">
           <div id="progress" class="progress" style="width:100%;height:0px;">
		  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%">
		  <span>0</span>
		  </div>
		</div>
        </div>
        </div> 
        
        <div class="row">
           <div class="col-md-2">
           		<div id='input_group_grouplist'>
				<div class="input-group mb-3 input-group-sm">
			      <div class="input-group-prepend">
			        <span class="input-group-text">分组</span>
			      </div>
			      <select id="grouplist" class="form-control"></select>
			    </div>
			    </div>
		    </div>
		    <div class="col-md-10">
	        <div class="btn-group btn-group-sm">	           		      	
			    <button id='info_create' type="button" class="btn btn-primary"><i class="fa fa-plus"></i>新建</button>	
			    <button id='info_save' type="button" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>		    
			    <button id='info_delete' type="button" class="btn btn-primary"><i class="fa fa-trash-o"></i>删除</button>
			    <button id='info_publish' type="button" class="btn btn-primary"><i class="fa fa-send-o"></i>审核</button>
			    <button id='info_copy' type="button" class="btn btn-primary"><i class="fa fa-copy"></i>复制</button>
			    <button id='info_attribute' type="button" class="btn btn-primary"><i class="fa fa-exclamation-circle"></i>详情</button>
			    <button id='info_SerialPort' type="button" class="btn btn-primary"><i class="fa fa-magnet"></i>串口发送</button>
			   </div>
			</div>
		</div>
		                  
        <div class="row">
		<div class="col-md-2">
		<div class='list-group-item' style='text-align: center;background:#C36464;'>
		<a class='text-white'>草稿箱<span id='badge_draft' class="badge badge-light">0</span></a>
		</div>
		<div id='infolist_draft' class="list-group">
		</div>				
			  			 
		</div>
			
		<div class="col-md-8">
	
		<div id="content">
						
        <div class="card">
		  <div class="card-header">广告编辑</div>
		  <div class="card-body">					  
	  	  	<div id="workarea" style="height:400px;">
				<div id="divsvg"  style="border:1px solid;position:relative;box-shadow: 10px 10px 5px #888888;">
				<canvas id="workarea_canvas"></canvas>	
				
				<span id = 'tooltip_xy' class="tooltiptext" style="pointer-events:none;">提示文本</span>
				<span id = 'tooltip_w' class="tooltiptext" style="pointer-events:none;">提示文本</span>
				<span id = 'tooltip_h' class="tooltiptext" style="pointer-events:none;">提示文本</span>
							
				</div>
			</div>			
    	  </div> 								  
		</div>
													
		<div class="card">
		  <div class="card-header">参数设置</div>
		  <div class="card-body">
		  <!-- 			
		  	<div class="row">
		  	<div class="col-md-3 small">
		  		X坐标<input type="number" class="form-control" id="svg_position_X" min="0" step="8" placeholder="X">			  	    
		    </div>
		    
		    <div class="col-md-3 small">
		    	Y坐标<input type="number" class="form-control" id="svg_position_Y" min="0" step="8" placeholder="Y">		    
		    </div>
		    		    
		  	<div class="col-md-3 small">
		  		宽度<input type="number" class="form-control" id="svg_size_width" min="16" step="8" placeholder="宽度">		  	    
		    </div>
		    
		    <div class="col-md-3 small">
		   		高度<input type="number" class="form-control" id="svg_size_height" min="16" step="8" placeholder="高度">			    
		    </div>
		    
		    </div>
		     -->
		    <div class="row">
		    <div class="col-md-3 small">
		    	循环次数<input type="number" oninput="value=value.replace(/[^\d]/g,''); if(value<1){value=1;} if(value>10){value=10;}" class="form-control" id="svg_animation_looptime"  min="1" max="10" placeholder="循环次数" value= "1"/>
		    	<!--
		    	<div class="row">
		    		<div class="col-md-6 small text-right">	
			  		循环次数
			  		</div>
			  		<div class="col-md-6">	
			  	 	<input type="number" class="form-control" id="svg_animation_looptime"  min="1" max="10" placeholder="循环次数" value= "1"/>
			  	 	</div>
			  	</div>	
			  	-->		    			    	
		    </div>
		    		    
			<div class="col-md-3 small">
				对比度<input type="number" oninput="value=value.replace(/[^\d]/g,''); if(value<10){value=10;} if(value>50){value=50;}" class="form-control" id="svg_animation_gamma" step="1" min=10 max=50 placeholder="对比度" value= "20"/>
		    	<!--
		    	<div class="row">
		    		<div class="col-md-6 small text-right">			  		
			  	 	对比度
			  	 	</div>
			  	 	<div class="col-md-6">			  	 	
			  	 	<input type="number" class="form-control" id="svg_animation_gamma" step="1" min=10 max=50 placeholder="对比度" value= "20"/>
			  	 	</div>
			  	</div>	
			  	-->		
		    </div>
		    		    
		    <div class="col-md-3 small">
		    	显示式方
		    	<select id="svg_animation_playtype" class="form-control">
			      <option selected value='0' class="small text-left">静止</option>
			      <option value='1' class="small text-left">左滚</option>
			      <option value='2' class="small text-left">上滚</option>
			      <option value='3' class="small text-left">左拉帘</option>
			      <option value='4' class="small text-left">右拉帘</option>				      
			      <option value='5' class="small text-left">左右拉帘</option>
			      <option value='6' class="small text-left">上拉帘</option>
			      <option value='7' class="small text-left">下拉帘</option>
			      <option value='8' class="small text-left">上下拉帘</option>
			      <option value='9' class="small text-left">渐亮</option>
			      <option value='10' class="small text-left">渐灭</option>				      
			      <option value='11' class="small text-left">左移进</option>
			      <option value='12' class="small text-left">右移进</option>
			      <option value='13' class="small text-left">左右移进</option>
			      <option value='14' class="small text-left">隔行左右对进</option>
			      <option value='15' class="small text-left">上移进</option>				      
			      <option value='16' class="small text-left">下移进</option>
			      <option value='17' class="small text-left">上下隔行移进</option>
			      <option value='18' class="small text-left">闪烁</option>
			      <option value='19' class="small text-left">百叶</option>
			      <option value='20' class="small text-left">放大 左上角->全屏</option>				      
			      <option value='21' class="small text-left">放大 中间->全屏</option>
			      </select>
			    <!-- 
		    	<div class="row">
		    	<div class="col-md-6 small text-right">
		    	显示方式
		    	</div>
		    	<div class="col-md-6">
		    	<select id="svg_animation_playtype" class="form-control">
			      <option selected value='0' class="small text-left">静止</option>
			      <option value='1' class="small text-left">左滚</option>
			      <option value='2' class="small text-left">上滚</option>
			      <option value='3' class="small text-left">左拉帘</option>
			      <option value='4' class="small text-left">右拉帘</option>				      
			      <option value='5' class="small text-left">左右拉帘</option>
			      <option value='6' class="small text-left">上拉帘</option>
			      <option value='7' class="small text-left">下拉帘</option>
			      <option value='8' class="small text-left">上下拉帘</option>
			      <option value='9' class="small text-left">渐亮</option>
			      <option value='10' class="small text-left">渐灭</option>				      
			      <option value='11' class="small text-left">左移进</option>
			      <option value='12' class="small text-left">右移进</option>
			      <option value='13' class="small text-left">左右移进</option>
			      <option value='14' class="small text-left">隔行左右对进</option>
			      <option value='15' class="small text-left">上移进</option>				      
			      <option value='16' class="small text-left">下移进</option>
			      <option value='17' class="small text-left">上下隔行移进</option>
			      <option value='18' class="small text-left">闪烁</option>
			      <option value='19' class="small text-left">百叶</option>
			      <option value='20' class="small text-left">放大 左上角->全屏</option>				      
			      <option value='21' class="small text-left">放大 中间->全屏</option>
			      </select>
			      </div>
		    	</div>	
		    	-->			    
		    </div>
		    
	        <div class="col-md-3 small">
	        	强制时间
		   		<select id="svg_animation_Mandatorytime" class="form-control">
			      <option selected value='0'>否</option>
			      <option value='1'>是</option>
			    </select>	  	
		    </div>
		    
		    </div>
		    
		    <div class="row">
		    <!-- 
		    <div class="col-md-3 small">
		   		 每屏停留
		   		<select id="svg_animation_rollstop" class="form-control">
			      <option selected value='0'>否</option>
			      <option value='1'>是</option>
			    </select>	
		    </div>
		     -->		    
		    <div class="col-md-3 small">		    	 
			    播放速度
	        	<select id="svg_animation_playspeed" class="form-control">
	        	  <option value='0' class="small text-left">特快</option>			      
			      <option selected value='1' class="small text-left">较快</option>
			      <option value='2' class="small text-left">快</option>
			      <option value='3' class="small text-left">慢</option>
			      <option value='4' class="small text-left">较慢</option>				      
			      <option value='5' class="small text-left">特慢</option>
			      <!-- 
			      <option value='6' class="small text-left">6</option>
			      <option value='7' class="small text-left">7</option>
			      <option value='8' class="small text-left">8</option>
			      <option value='9' class="small text-left">9</option>
			      <option value='10' class="small text-left">10(慢)</option>
			       -->
			      </select>				    			
		    </div>	
		    
		    <div class="col-md-3 small">
		    	停留时间<input type="number" class="form-control" oninput="value=value.match(/\d+\.?\d{0,2}/,''); if(value<0){value=0;} if(value>600){value=600;}" id="svg_animation_stoptime" step="0.01" placeholder="停留时间" value= "0" min=0 max=600/>		    			
		    </div>
		    	    				    		    		    		    
		    <div class="col-md-3 small" style="display:none;">
		    	停留时间<input type="number" class="form-control" oninput="value=value.replace(/[^\d]/g,''); if(value<1){value=1;} if(value>600){value=600;}" id="svg_animation_MandatorytimeLength" step="1" placeholder="停留时间" value= "5" min=1 max=600/>		    			
		    </div>		
		    </div>	
    	  </div> 								  
		</div>
		 		
		</div>
		</div>
		
		<div class="col-md-2">
		 	<div id="tool_right" style="width: 100%;height: 100%;">
			    <div id="layer" width="100%" height="100%">	    
			    	<button id="creat_layer" type="button" class="btn btn-primary btn-block"><i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>添加图层</button>
			    	<div id="layer_timelength" style="padding:5px 5px;border:2px solid #d0e4fe;background-color:#C36464;text-align:center;">				    	
			    	</div>
			    	<!-- <button id="delete_layer" type="button" class="btn btn-primary btn-block"><i class="fa fa-times-circle" style="font-size:20px;color:white"></i>删除图层</button> -->
			    	<div id="layer_list" style="padding:5px 5px;">
			    	</div>				    	
			    </div>
			</div>
		</div>
		</div>
		 
		<!-- 模态框  广告信息-->
	    <div class="modal fade" data-backdrop="static" id="modal_creatinfo">
	    <div class="modal-dialog">
	      <div class="modal-content">
	   
	        <!-- 模态框头部 -->
	        <div class="modal-header">
	          <h4 class="modal-title">广告信息</h4>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	   
	        <!-- 模态框主体 -->
	        <div class="modal-body">
	        	<div class="input-group mb-3 input-group-sm">
			      <div class="input-group-prepend">
			        <span class="input-group-text">广告名称</span>
			      </div>
			       <input type="text" id="creat_infoname" class="form-control" maxlength="10">					    
			    </div>
			    
   		        <div class="input-group mb-3 input-group-sm">
			      <div class="input-group-prepend">
			        <span class="input-group-text">生命周期</span>
			      </div>
					<input type="text" class="form-control required readonly" id="creat_infolifeAct" placeholder="开始日期" name="playlistlife" autofocus="autofocus" maxlength="20"></input> 
					<div class="input-group-prepend">
			        <span class="input-group-text">~</span>
			      	</div> 
					<input type="text" class="form-control required readonly" id="creat_infolifeDie" placeholder="结束日期" name="playlistlife" autofocus="autofocus" maxlength="20"></input>
			    </div>		        		

				<div style="display: none" class="input-group mb-3 input-group-sm">
			      <div class="input-group-prepend">
			        <span class="input-group-text">背景图</span>
			      </div>
			       <select id="basemapselect" class="form-control">
				   <option selected value='无背景'>无背景</option>
				   <option value='背景色'>背景色</option>
				   <option value='背景图'>背景图</option>
				   </select>					    
			    </div>
			    					    
				  <div id='div_backcolor' class="form-inline" style="display: none">
  				    <div class="input-group mb-3 input-group-sm">
				      <div class="input-group-prepend">
				        <span class="input-group-text">背景色</span>
				      </div>
				       <input type="color" class="form-control" id="info_backcolor">					    
				    </div>					    						    	
			      </div>	
			      
			      <div id='div_background' style="display: none">					      
			      <div class="card">
					  <div class="card-body">
						  <div id='imgSel' class="form-inline">						
						      <img onclick="creatinfo_addbasemap('imgSel');" th:src="@{~/img/addImg.png}" alt="添加图片" width="64" height="64">								      		   
					      </div>
					  </div> 			  
					</div>	
				  </div>				      
	        </div>
	   
	        <!-- 模态框底部 -->
	        <div class="modal-footer">
	          <button id="btn_CreatInfo" type="button" class="btn btn-primary">确定</button> 
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
	        </div>
	   
	      </div>
	    </div>
	    </div>
		  
		<!-- 模态框  编辑-->
		<div class="modal fade" data-backdrop="static" id="myModalEdit">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title">内容编辑</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
		      	<select id="select_div" class="form-control">
			      <option selected value='0'>图文</option>
			      <option value='1'>GIF动画</option>
			    </select>	
			    
	      		<div id="div_tp">
	      		<!-- 加载编辑器的容器 -->
    			<script id="ueditor_context" name="content" type="text/plain"></script>
    			</div>
    			
    			<div id="div_gif" style="display:none;">
    			  <input type="file" id="input_gif_upload" style="display: none" accept="image/gif">					  				  			  	  
				  <div id='div_giflist'  class="form-inline" style="border:1px solid;">
				  <img id='gif_upload' onclick="$('#input_gif_upload').click();" th:src="@{~/img/addImg.png}" alt="添加图片" width="64" height="64">						    
			      </div>
    			</div>		      		 
		      </div>
		 
		      <!-- 模态框底部 -->
		      <div class="modal-footer">
		      	<button id="editItem" type="button" class="btn btn-primary">确定</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
		      </div>
		 
		    </div>
		  </div>
		</div>
			
		<!-- 模态框  视频-->
		<div class="modal fade" data-backdrop="static" id="modal_video_select">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title">视频选择</h4>
		        <a href="javascript:void(0)" onclick="modelchange()" title="图文"><i class="fa fa-adn" style="font-size:40px;color:blue;"></i></a>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
		      	<video id='video_player' height="240" controls oncanplaythrough="input_video_upload(this)">					
				</video>
				  <input type="file" id="input_video_upload" style="display: none" accept="video/*">						  
				  <div id="div_video_tab">
				  	  <!-- Nav tabs -->
				  	  <!-- 
					  <ul id='nav_videotype' class="nav nav-pills" role="tablist"  style="border:2px solid;border-radius:15px;">
					  <li class='nav-item'><a id='add_video_nav' class='nav-link' data-toggle='pill' href='#'><i class="fa fa-plus-circle" style="font-size:20px;color:red"></i></a></li>						    
					  </ul>
					   -->
					  <!-- Tab panes -->
					  <div id='div_videolist'  class="form-inline" style="border:2px solid;border-radius:15px;">
					  <img id='video_upload' onclick="$('#input_video_upload').click();" th:src="@{~/img/addImg.png}" alt="添加视频" width="64" height="64">						    
				      </div>
				  </div>					  
		      </div>
		 
		  		<!-- 模态框底部 -->
		        <div class="modal-footer">
		          <button id="btn_selectvideo" type="button" class="btn btn-primary">确定</button> 
		          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
		        </div>
		    </div>
		  </div>
		</div>
			
		<!-- 模态框  图片-->
		<div class="modal fade" data-backdrop="static" id="modal_pic_select">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title">图片选择</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
				  <input type="file" id="input_upload" style="display: none" accept="image/jpeg,image/jpg,image/png,image/bmp">					  
				  <div id="div_pic_tab">
				  	  <!-- Nav tabs -->
				  	  <!-- 
					  <ul id='nav_pictype' class="nav nav-pills" role="tablist"  style="border:2px solid;border-radius:15px;">
					  <li class='nav-item'><a id='add_pic_nav' class='nav-link' data-toggle='pill' href='#'><i class="fa fa-plus-circle" style="font-size:20px;color:red"></i></a></li>						    
					  </ul>
					   -->
					  <!-- Tab panes -->
					  <div id='div_imglist'  class="form-inline" style="border:2px solid;border-radius:15px;">
					  <img id='img_upload' onclick="$('#input_upload').click();" th:src="@{~/img/addImg.png}" alt="添加图片" width="64" height="64">						    
				      </div>
				  </div>					  
		      </div>
		 
		  		<!-- 模态框底部 -->
		        <div class="modal-footer">
		          <button id="btn_selectimg" type="button" class="btn btn-primary">确定</button> 
		          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
		        </div>
		    </div>
		  </div>
		</div>
		
		<!-- 模态框  动画-->
		<div class="modal fade" data-backdrop="static" id="modal_gif_select">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title">动画选择</h4>
		        <a href="javascript:void(0)" onclick="modelchange()" title="图文"><i class="fa fa-adn" style="font-size:40px;color:blue;"></i></a>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
				  <input type="file" id="input_gif_upload" style="display: none" accept="image/gif">					  				  			  	  
				  <div id='div_giflist'  class="form-inline" style="border:1px solid;">
				  <img id='gif_upload' onclick="$('#input_gif_upload').click();" th:src="@{~/img/addImg.png}" alt="添加图片" width="64" height="64">						    
			      </div>				  					  
		      </div>
		 
		  		<!-- 模态框底部 -->
		        <div class="modal-footer">
		          <button id="btn_selectgif" type="button" class="btn btn-primary">确定</button> 
		          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
		        </div>
		    </div>
		  </div>
		</div>
			
		<!-- 模态框  特效-->
		<div class="modal fade" data-backdrop="static" id="modal_special_select">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title">特效选择</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
		      <div class="row">
		      <div class="col-md-8">
  					  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li class="nav-item">					      
				      <a class="nav-link active" data-toggle="tab" href="#sketch">描边</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#shadow">阴影</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#gradient">渐变</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#scale">比例</a>
				    </li>
				  </ul>
				
				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div id="sketch" class="container tab-pane active"><br>
				                      颜色				      
				      <div id="sketch_color" class="input-group" title="描边颜色">
					      <input type="text" class="form-control input-lg" value="#000000"/>
						  <span class="input-group-append">
						    <span class="input-group-text input-group-addon"><i></i></span>
						  </span>
					  </div>
					      宽度
					  <input type="text" id="sketch_width"  title="描边宽度" value="" />						  					     
				    </div>
				    
				    <div id="shadow" class="container tab-pane fade"><br>
		           	      颜色				      
				      <div id="shadow_color" class="input-group" title="阴影颜色">
					      <input type="text" class="form-control input-lg" value="#000000"/>
						  <span class="input-group-append">
						    <span class="input-group-text input-group-addon"><i></i></span>
						  </span>
					  </div>						       					    
					       宽度
					  <input type="text" id="shadow_width"  title="阴影宽度" value="" />
				    </div>
				    
				    <div id="gradient" class="container tab-pane fade"><br>
		         	        方向
		         	   <select id="gradient_direction" class="form-control">
					   <option selected value='horizontal'>横向</option>
					   <option value='vertical'>纵向</option>
					   <option value='oblique'>斜向</option>
					   </select>					    
				                      颜色1			      
				      <div id="gradient_color1" class="input-group" title="颜色">
					      <input type="text" class="form-control input-lg" value="#000000"/>
						  <span class="input-group-append">
						    <span class="input-group-text input-group-addon"><i></i></span>
						  </span>
					  </div>
					      颜色2			      
				      <div id="gradient_color2" class="input-group" title="颜色">
					      <input type="text" class="form-control input-lg" value="#000000"/>
						  <span class="input-group-append">
						    <span class="input-group-text input-group-addon"><i></i></span>
						  </span>
					  </div>
					  						   
				    </div>
				    
				    <div id="scale" class="container tab-pane fade"><br>		         	        					    
				                      横向		      				      
                      <input type="number" class="form-control" id="scale_horizontal" step="10" value="100" min="20" max="300"/>				      
					      纵向
				      <input type="number" class="form-control" id="scale_vertical" step="10" value="100" min="20" max="300" />			      				      					  						   
				    </div>
				  </div>
		      </div>
		      <div class="col-md-4">
		      <div class="row">
		      <label><input id="sketch_check" type="checkbox" class="form-control"/>描边</label>
		      <label><input id="shadow_check" type="checkbox" class="form-control"/>阴影</label>
		      <label><input id="gradient_check" type="checkbox" class="form-control"/>渐变</label>
		      </div>
		      <div class="row">
		      <canvas id="preview_canvas" width='100%' height='100%' style="border:1px solid gray;"></canvas>
		      </div>
		      </div>
		      	
		      </div>				  					  					
		      </div>
		 
		  		<!-- 模态框底部 -->
		        <div class="modal-footer">
		          <button id="btn_selectspecial" type="button" class="btn btn-primary">确定</button> 
		          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
		        </div>
		    </div>
		  </div>
		</div>
			
		<!-- 模态框  添加编辑分类-->
		<div class="modal fade" data-backdrop="static" id="modal_picnav_add">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 			 
		      <!-- 模态框主体 -->
		      <div class="modal-body">	
		      <div class="input-group mb-3 input-group-sm">
				      <div class="input-group-prepend">
				        <span class="input-group-text">分类名称</span>
				      </div>
				       <input type="text" id="model_classifyname" class="form-control" maxlength="10">					    
				    </div>				  					  
		      </div>
		 
		  		<!-- 模态框底部 -->
		        <div class="modal-footer">
		          <button id="btn_addnav" type="button" class="btn btn-primary">确定</button> 
		          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
		        </div>
		    </div>
		  </div>
		</div>
		
	    <!-- 模态框 -->
	    <div class="modal fade" data-backdrop="static" id="modal_save">
	    <div class="modal-dialog modal-sm">
	      <div class="modal-content">
	   
	        <!-- 模态框头部 -->
	        <div class="modal-header">
	          <h4 class="modal-title">是否保存?</h4>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	   
	        <!-- 模态框主体 -->
	        <div class="modal-body">
	         	 已审核广告更改需重新审核,排期数据将被删除
	        </div>
	   
	        <!-- 模态框底部 -->
	        <div class="modal-footer">
	          <button id="btn_saveModel" type="button" class="btn btn-primary">确定</button>
	          <button id="btn_saveModelColse" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
	        </div>
	   
	      </div>
	     </div>
	     </div>
	     
   	    <!-- 模态框 -->
	    <div class="modal fade" data-backdrop="static" id="modal_SerialPort">
	    <div class="modal-dialog modal-sm">
	      <div class="modal-content">
	   
	        <!-- 模态框头部 -->
	        <div class="modal-header">
	          <h4 class="modal-title">设置串口</h4>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	   
	        <!-- 模态框主体 -->
	        <div class="modal-body">
	        <div class="row">
	        <div class="col-md-4">
	        	串口号
	        </div>
	        <div class="col-md-8">
	        	<select id="ComName" class="form-control">
	        	<option value="COM1" selected>COM1</option>
	        	<option value="COM2">COM2</option>
	        	<option value="COM3">COM3</option>
	        	<option value="COM4">COM4</option>
	        	<option value="COM5">COM5</option>
	        	<option value="COM6">COM6</option>
	        	<option value="COM7">COM7</option>
	        	<option value="COM8">COM8</option>	        					     
			    </select>
	        </div>
	        </div>
	        
	        <div class="row">
	        <div class="col-md-4">
	        	波特率
	        </div>
	        <div class="col-md-8">
	        	<select id="BaudRate" class="form-control">
				   	<option value="9600" selected>9600</option>
				   	<option value="19200"  >19200</option>
				   	<option value="38400"  >38400</option>
				   	<option value="43000"  >43000</option>
				    <option value="57600"  >57600</option>
				    <option value="115200" >115200</option>   
			    </select> 
	        </div>
	        </div>			         			    
	        </div>
	   
	        <!-- 模态框底部 -->
	        <div class="modal-footer">
	          <button id="btn_setSerialPort" type="button" class="btn btn-primary">确定</button>
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
	        </div>
	   
	      </div>
	     </div>
	     </div>
		
		</div>
    </div>
    
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">        
            <div class="row">
                <div class="col-md-12">
                    &copy; 2015 YourCompany | By : <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
</body>
</html>
